@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="col-md-3 index-grids">
  
    <div class="clearfix"> </div>
</div>

<div class="col-md-9 index-grids">
    <h1>This site appriciates user privacy so plz press login button above to login or register.</h1>
    <br />
    <h2>Thank you</h2>
    <div class="clearfix"> </div>
</div>

<div class="bottom_grid wow bounce" data-wow-delay="0.4s">
    <div class="clearfix"></div>
</div>