@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="col-md-3 index-grids">
  
    <div class="clearfix"> </div>
</div>

<div class="col-md-9 index-grids">
    <h1>This website is strictly reserved for the students of PUCIT. Please Login or Signup to prove your identity and then continue enjoying aur services.</h1>
    <br />
    <h2>Thank you</h2>
    <div class="clearfix"> </div>
</div>

<div class="bottom_grid wow bounce" data-wow-delay="0.4s">
    <div class="clearfix"></div>
</div>