
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2 style="color:blue">Congratulations!</h2>

<div class="has-success">
    You have been registered successfully!
</div>

<a class="btn btn-primary" href="/Home/login">Login </a>To enjoy our services